<div class="container">
    <a href="" ng-click="changeView('list')">< go back </a>

    <div class="row">
        <div class="col-sm-8">
            <h1>Proposal</h1>
        </div>

        <div class="col-sm-4">
            <button type="button" class="btn btn-danger pull-right">Delete Proposal</button>
        </div>
    </div>

    <div class="panel">
        <blockquote>
            <div class="row">
                <div class="col-sm-7">
                    <label for="">Name:</label> {{proposal.title}}
                </div>

                <div class="col-sm-3">
                    <label for="">Date:</label> {{proposal.startTime}}
                </div>

                <div class="col-sm-2 font-green">
                    ${{proposal.price}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7"></div>

                <div class="col-sm-3">
                    <label for="">Category:</label> {{proposal.category}}
                </div>

                <div class="col-sm-2">
                    <label for="">Region:</label> {{proposal.region}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="">Description:</label>
                </div>

                <div class="col-sm-12">
                    <textarea style="width: 100%; height: 100px;" name="" disabled>{{proposal.description}}</textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-success" ng-click="response()">Response for Proposal</button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-12">
                    <ul>
                        <li>Quality of the rendered service</li>
                        <li>Relevance of the price</li>
                        <li>Speed of service execution</li>
                        <li>Speed of response</li>
                    </ul>

                    <input id="input-id" type="text" class="rating" data-size="lg">

                    <button type="button" class="btn btn-warning" ng-click="closeAndRate()">Close and Rate Candidate</button>
                </div>
            </div>
        </blockquote>

        <div class="container">
            <h1>All Responses</h1>

            <div class="row" ng-repeat="response in responses">
                <div class="col-sm-12">
                    {{response.name || response.id}}

                    <span ng-repeat="_ in ((_ = []) && (_.length=response.averageRating) && _) track by $index">&#9733;</span>
                    <span ng-if="!response.averageRating">no rating</span>

                    <label for="">Date: </label> {{response.time}}

                    <button type="button" class="btn btn-success" ng-click="chooseCandidate(response.id)">Choose Candidate</button>
                </div>
            </div>
        </div>
    </div>
</div>