<div class="container">
    <a href="" ng-click="changeView('list')">< go back </a>

    <div class="row">
        <div class="col-sm-8">
            <h1>Proposal</h1>
        </div>

        <div class="col-sm-4">
            <!--<button type="button" class="btn btn-danger pull-right" ng-click="deleteProposal()">Delete Proposal</button>-->
            <button type="button" class="btn btn-success pull-right" ng-click="response()">Response for Proposal</button>
        </div>
    </div>

    <div class="panel">
        <blockquote>
            <div class="row">
                <div class="col-sm-7">
                    <label for="">Name:</label> {{proposal.title}}
                </div>

                <div class="col-sm-5">
                    <label for="">Price:</label> ${{proposal.price}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7"></div>

                <div class="col-sm-3">
                    <label for="">Category:</label> {{proposal.category}}
                </div>

                <div class="col-sm-2">
                    <label for="">Region:</label> {{proposal.region}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-7"></div>

                <div class="col-sm-3">
                    <label for="">Start time:</label> {{proposal.startTime | date : 'medium'}}
                </div>

                <div class="col-sm-2">
                    <label ng-if="proposal.endTime" for="">End time:</label> {{proposal.endTime | date : 'medium'}}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <label for="">Description:</label>
                </div>

                <div class="col-sm-12">
                    <textarea style="width: 100%; height: 100px;" name="" disabled>{{proposal.description}}</textarea>
                </div>
            </div>

            <div class="row" ng-if="proposal.hiddenText">
                <div class="col-sm-12">
                    <label for="">Comment:</label>
                    {{proposal.hiddenText}}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-sm-12">

                    <input id="input-id" type="text" class="rating" data-size="lg">

                    <button type="button" class="btn btn-warning" ng-click="closeAndRate()">Close and Rate Candidate</button>
                </div>
            </div>
        </blockquote>

        <div class="container">
            <h1>All Responses</h1>

            <div class="row response-row" ng-repeat="response in responses">
                <div class="col-sm-12">
                    <span class="col-sm-3"><b>Email:</b> {{response.email || response.id}}</span>

                    <span ng-repeat="_ in ((_ = []) && (_.length=response.averageRating) && _) track by $index">&#9733;</span>
                    <span class="col-sm-3" ng-if="response.averageRating"><b>Average rating:</b> {{response.averageRating}}</span>
                    <span class="col-sm-3" ng-if="!response.averageRating">no rating</span>

                    <span class="col-sm-3"><b>Date:</b> {{response.time | date : 'medium'}}</span>

                    <button type="button" class="btn btn-success" ng-if="!responseChosen" ng-click="chooseCandidate(response.id)">Choose Candidate</button>
                    <button type="button" class="btn btn-primary" ng-if="response.chosen == 1" ng-click="revertCandidateChoice(response.id)">Revert Candidate Choice</button>
                </div>
            </div>
        </div>
    </div>
</div>