<!DOCTYPE html>
<html lang="en" ng-app="quickJobs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=700, initial-scale=1"/>
    <title>QuickJob - Log in</title>
</head>
<body ng-controller="loginController">
<div class="container login">
    <div  class="col-lg-4 col-lg-offset-4" >
        <form name="login">
            <label>E-mail</label>
            <input ng-model="user.email" type="email" name="e-mail" required/>
            <label>Password</label>
            <input ng-model="user.pass" type="password" name="pass1" required/>
            <div class="center-align">
                <div class="btn-group">
                    <button ng-click="logIn()" class="btn btn-sm custom-btn">Log in</button>
                    <button ng-click="signUp()" class="btn btn-sm custom-btn">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>


</body>


</html>