<div class="container list">
    <h1>List of Proposals</h1>

    <div class="filter ">
        <span class="text-shadow">Filters:</span>
        <div >
            <input type="checkbox" class="text-shadow" ng-model="filter.myProp" value="true" ng-click="setMyPropFilter()"> <span class="text-shadow">My Proposals</span></div>
        <div>
            <input type="checkbox" class="text-shadow" ng-model="filter.myResp"> <span class="text-shadow">My Responses</span></div>
        <br><br>
        <ul>
            <li> <label class="text-shadow">Region</label><input type="text" ng-model="filter.regionSearch"/></li>
            <li> <label class="text-shadow">Title</label><input type="text" ng-model="filter.nameSearch"/></li>
            <li>
                <label class="text-shadow">Category</label>
                <ui-select ng-model="filter.category" theme="select2" class="form-control" title="Choose a category">
                    <ui-select-match placeholder="Select category">{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices group-by="'group'" repeat="item in categories | filter: $select.search">
                        <span ng-bind-html="item.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
            </li>
            <li>
                <label class="text-shadow">Price</label>
                <input ng-model="filter.minPrice" type="text" placeholder="from"><input ng-model="filter.maxPrice" type="text" placeholder="to"></li>

            <li>
                <label class="text-shadow">Date</label>
                <adm-dtp ng-model="filter.startDate" options="{autoClose:'true'}"></adm-dtp>
                <adm-dtp ng-model="filter.endDate" options="{autoClose:'true'}"></adm-dtp>
            </li>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>User</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Time</th>
            <th>Price</th>
            <th>Region</th>
        </tr>
        </thead>

        <thead>
        <tr ng-repeat="proposal in proposals | filter: {email: filter.myPropEmail} |
            filter: {category: filter.category.name} | filter: {region: filter.regionSearch} |
            price:filter.minPrice:filter.maxPrice | time:filter.startDate:filter.endDate |
            myResp:filter.myResp | filter: {title: filter.nameSearch} " >
            <!--<td colspan="2" ng-if="!proposal.endTime">{{proposal.startTime | date : 'medium'}}</td>-->
            <td>{{proposal.email}}</td>
            <td><a  href="proposal/{{proposal.id}}">{{proposal.title}}</a></td>
            <td>{{proposal.description}}</td>
            <td>{{proposal.category}}</td>
            <td>{{proposal.startTime | date : 'medium' : 'UTC'}} <br ng-if="proposal.endTime"/>{{proposal.endTime | date : 'medium' : 'UTC'}}</td>
            <td class="font-green">${{proposal.price}}</td>
            <td><img src="common/images/whitakergroup-google-location-icon.png" ng-if="proposal.region" alt="" width="12px"> &nbsp;{{proposal.region}}</td>
        </tr>
        </thead>
    </table>
</div>