<div class="container">
    <h1>List of Proposals</h1>

    <div class="row">
        Filters:
        <ul>
            <li>
                <input type="checkbox"> My Proposals</li>
            <li>
                <input type="checkbox"> My Responses</li>
            <li>
                <select name="" id="">
                    <option value="">Categories</option>
                </select>
            </li>
            <li>Price <input type="text" placeholder="from"><input type="text" placeholder="to"></li>
            <li>Date <input type="date" placeholder="from"><input type="date" placeholder="to"></li>
            <li> <select name="" id="">
                <option value="">Region</option>
            </select></li>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Start time</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Region</th>
        </tr>
        </thead>

        <thead>
        <tr ng-repeat="proposal in proposals">
            <td>{{proposal.startTime}}</td>
            <td><a href="" ng-click="changeView('proposal/' + proposal.id)">{{proposal.title}}</a></td>
            <td>{{proposal.description}}</td>
            <td>{{proposal.category}}</td>
            <td>{{proposal.price}}</td>
            <td>{{proposal.region}}</td>
        </tr>
        </thead>
    </table>
</div>