<div class="container">
    <h1>List of Proposals</h1>

    <div class="row">
        Filters:
        <ul>
            <li>My Proposals</li>
            <li>My Responses</li>
            <li>Categories</li>
            <li>Price</li>
            <li>Date</li>
            <li>Region</li>
        </ul>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Region</th>
        </tr>
        </thead>

        <thead>
        <tr ng-repeat="proposal in proposals">
            <td>{{proposal.date}}</td>
            <td><a href="" ng-click="changeView('proposal')">{{proposal.name}}</a></td>
            <td>{{proposal.description}}</td>
            <td>{{proposal.category}}</td>
            <td>{{proposal.cost}}</td>
            <td>{{proposal.region}}</td>
        </tr>
        </thead>
    </table>
</div>