html, body{
    height:100%;
    min-height:100%;
}
body {
    background: url(../common/images/Main.jpg) no-repeat;
    /*background-size: 100%;*/
    background-size: cover;
    font-family: 'Slabo 27px', serif;
    background-position: center center;
    /*background-clip: border-box;*/
}
table {
    background: rgba(255, 255, 220, 0.7);
    font-size: 1.1em;
}
.main-container .container ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
}
.container ul li {
    display: inline-block;
    position: relative;
}
.container ul li.ui-select-choices-row,
.container ul li.ui-select-choices-group{
    display: list-item;
}
.filter label {
    position: absolute;
    top: -30px;
}
.filter .ADMdtp-container {
    display: inline-block;
}
h2 {
    font-size: 26px;
    font-weight: bold;
}
.left-area {
    background: rgba(255,255,220,0.7);
    padding-bottom: 20px;
    margin-bottom:20px;
}
.navbar-default {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 2px solid #666;
    background: #fff;
    font-size: 1.5em;
    color: #000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background-color: #e9f3e4;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.login .container,
.landingView .container {
    background: #fff;
    height: 100vh;
}
.landingView .center-align,
.login .center-align {
    text-align: center;
}
.landingView h3 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 26px;
}
.landingView h2 {
    padding-top: 30px;
}
.landingView button,
.login button {
    margin: 20px;
}
.landingView .btn-group :first-child,
.login .btn-group :first-child {
    margin-right: 20px;
}
.landingView form,
.login form {
    padding: 15px 0;
    background: rgba(255, 255, 220, 0.7);
}

.landingView form button {
    display: block;
    margin: 20px auto;
}
.login form button {
    display: block;
    margin: 20px;
}
.landingView form input,
.landingView form label,
.landingView form textarea,
.landingView form select {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1px 7px;
}
.login form input,
.login form label {
    display: block;
    width: 100%;
    margin: auto;
}
.login form label {
    padding: 20px 0 9px;
}
.landingView form input,
.landingView form textarea,
.landingView form select,
.login form input {
    border: none;
    border-bottom: 1px solid #ccc;
    background: rgba(0,0,0,0);
    outline: none;
}
.landingView form select {
    height: 26px;
}
.landingView form .dates {
    display: block;
    width: 100%;
}
.landingView form input.date {
    width: 48%;
    display: inline-block;
}
.landingView form input.date:last-child {
    margin-left: 2%;
}
.landingView form label,
.login form label {
    font-size: 1em;
    color: #000;
    padding: 7px 0;
    letter-spacing: 0.1em;
    font-weight: normal;
}
.landingView input:-webkit-autofill, .landingView textarea:-webkit-autofill, .landingView select:-webkit-autofill {
    background-color: #fff !important;
}

.rating-container{
    font-size: 20px;
}
.navbar-brand{
    color: #ff5200 !important;
    font-size: 1.6em;
    font-weight: bold;
}
.ADMdtp-container .masterInput input, .ADMdtp-container .masterInput input:focus, .ADMdtp-container .masterInput input:hover {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    font-size: 1em;
    height: 26px;
    padding: 0;
    background-color: rgba(0,0,0,0);}

.ADMdtp-container .masterInput {
    width: 100%;
}
.ADMdtp-container .masterInput .iconContainer,
.ADMdtp-container .masterInput .removeIcon {
    display: none; }

.ADMdtp-container .ADMdtp-calendar-container {
    width: 17em;
    height: 22em;
    height: 23em;
    font-size: 1em;
    font-family: Roboto;
    bottom: 0 !important;
    top: -23em !important;
    border-radius: 0;
    white-space: normal; }
.ADMdtp-container .ADMdtp-calendar-container header {
    font-size: 1.1em;
    font-weight: bold; }
.ADMdtp-container .ADMdtp-calendar-container .arrow.right:hover,
.ADMdtp-container .ADMdtp-calendar-container .arrow.left:hover {
    color: #666; }
.ADMdtp-container .ADMdtp-calendar-container .daysNames {
    font-size: 0.8em; }
.ADMdtp-container .ADMdtp-calendar-container .daysNames > span {
    color: #666; }
.ADMdtp-container .ADMdtp-calendar-container .days > span > span.selected {
    width: 2.4em;
    height: 2.4em;
    background: #ff5200 !important;
    border-radius: 0; }
.ADMdtp-container .ADMdtp-calendar-container .days > span > span:not(.disable):hover {
    background: #ddd;
    color: #666;
    border-radius: 0; }
.ADMdtp-container .ADMdtp-calendar-container .days > span > span.today:after {
    border-bottom: 0.7em solid #ff5200; }
.ADMdtp-container .ADMdtp-calendar-container footer {
    height: 3em; }
.ADMdtp-container .ADMdtp-calendar-container footer .calTypeContainer {
    display: none; }
.ADMdtp-container .ADMdtp-calendar-container footer .today {
    color: #666; }
.ADMdtp-container .ADMdtp-calendar-container footer .timeSelectIcon {
    fill: #888;
    margin-left: -10px;
    left: 50%; }
.ADMdtp-container .ADMdtp-calendar-container footer .timeSelectIcon:hover {
    fill: #444; }
.ADMdtp-container .ADMdtp-calendar-container footer .today {
    display: none; }
.ADMdtp-container .ADMdtp-calendar-container .timePickerContainer .timePicker span.dtpIcon svg,
.ADMdtp-container .ADMdtp-calendar-container .timePickerContainer .timePicker span.dtpIcon svg:hover {
    fill: #666; }
.ADMdtp-container .ADMdtp-calendar-container .timePickerContainer .timePicker span.dtpIcon:hover:before {
    background: #ddd; }
.ADMdtp-container .ADMdtp-calendar-container .timePickerContainer .calendarIcon:after {
    border-top: 3em solid #ff5200; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer {
    background: none; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .calendarIcon:after {
    border-top: 3em solid #ff5200; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer span > span {
    background: none;
    border: none;
    border-radius: 0; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer span > span.selected {
    background: #ff5200;
    color: #fff; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer .yearContainer p:before {
    padding-top: 5px; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer .yearContainer p:hover, .ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer .yearContainer p:hover:before {
    color: #444;
    border-color: #444; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer .monthContainer .yearContainer .arrow {
    font-size: 0.8em;
    top: -0.3em; }
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer:before,
.ADMdtp-container .ADMdtp-calendar-container .monthPickerContainer:after {
    background: none; }
.ADMdtp-container .ADMdtp-calendar-container .dtpNewBox .calendarIcon:after {
    border-top: 3em solid #ff5200; }
.ui-select-dropdown {
    top: 2px !important;
    left: 0;
    z-index: 3;
    background: #fff;
    margin-bottom: 5px;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
    padding-right: 10px;
    position: absolute;
}
.ui-select-container[theme=select2].direction-up .ui-select-dropdown {
    z-index: 3;
    background: #fff;
    margin-bottom: 5px;
    box-shadow: 0 1px 8px rgba(0,0,0,.25);
    padding-right: 10px;
    border-radius: 0;
}
.ui-select-container {
    position: relative;
    border-radius: 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    height: 26px;
    z-index: 5;
    background-color: rgba(0,0,0,0);
}
.ui-select-container a,
.ui-select-container a:hover,
.ui-select-container a:focus,
.ui-select-container a:active,
.ui-select-container a:visited {
    color: #ccc;
    display: block;
    width: 100%;
    height: 26px;
    text-decoration: none;
}
.ui-select-container a span:last-child {
    color: #000;
}
.ui-select-container ul {
    list-style-type: none;
    padding-left: 10px;
}

.ui-select-choices {
    opacity: 0;
}
.select2-display-none {
    display: none;
}
.open .ui-select-choices {
    opacity: 1;
}
.ui-select-choices-group-label {
    color: #aaa;
    font-size: 0.9em;
}
.ui-select-search {
    padding: 0 5px;
}
.custom-btn {
    border-radius: 0;
    border: 1px solid #ff5200;
    color: #ff5200;
    background: #fff;
    padding: 5px 10px;
    width: 145px;
    font-size: 1.1em;
}
.custom-btn.btn-no-width{
    width: auto;
}
.custom-btn:focus {
    outline-color: #ff5200;
    outline-width: 0!important;
}
.font-green{
    color: darkgreen;
    font-weight: bold;
    font-size: 20px;
}
.response-row{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}
.response-row span{
    margin-top: 7px;
}
.no-pointer-events{
    pointer-events: none;
}
.proposal-blockquote {
    border: 0;
}
.responses-panel{
    padding: 10px 0 20px;
}